<div>




<form *ngIf="!isLoggedIn; else logoutForm" (ngSubmit)="onLogin()">
  <div>
    <label for="login">Pseudo:</label>
    <input type="text" id="login" [(ngModel)]="user.login" name="login" required>
  </div>
  <div>
    <label for="password">Mot de passe:</label>
    <input type="password" id="password" [(ngModel)]="user.password" name="password" required>
  </div>
  <button type="submit">Se connecter</button>
  <button type="submit" class="fr-btn">Se connecter</button>
</form>

<ng-template #logoutForm>
  <button (click)="onLogout()">Se déconnecter</button>
</ng-template>
